body{
                background-image:url('Images/sunset-1207326_960_720.jpg');
		background-size: cover;
		background-repeat: no-repeat;
            }
            h1{
                text-align:center;
		background-color: rgb(73, 138, 81);
		font-family:Comic Sans MS;
		font-size: 50px;
		font-weight: 100;
 }

h2{
          font-family:Comic Sans MS;
          color:rgb(216, 179, 14);
 }

#home:hover{
		color:rgb(241, 18, 230);
		font-size: 30px;
		text-transform: uppercase;
            text-decoration: none;
            background-color: aquamarine;
}
#home{
		color:blue;
		font-size: 30px;
		text-transform: uppercase;
            text-decoration: none;
            background-color: aquamarine;
		    }
